<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webreport</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>

  </welcome-file-list>
  <!-- ********************************************************************************************************************************* -->
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>Secure URL</web-resource-name>
  		<url-pattern>/book</url-pattern>
  		<url-pattern>/evergreen</url-pattern>
  		<url-pattern>/lastship</url-pattern>
  		<url-pattern>/ccaninfo</url-pattern>
  		<url-pattern>/getlead</url-pattern>
  		<url-pattern>/snapshot</url-pattern>
  		<url-pattern>/nbva</url-pattern>
  		<url-pattern>/utilization</url-pattern>
  		<url-pattern>/ilreport</url-pattern>
  		<!--  <url-pattern>/utilization</url-pattern>  -->
  	</web-resource-collection>
  	
  	<auth-constraint>
  		<role-name>fisweb</role-name>
  	</auth-constraint>
  </security-constraint>
  <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
  <form-login-page>/authenticate.jsp </form-login-page>
  <form-error-page>/auth_error.jsp </form-error-page>
  
  
  </form-login-config>
  
  </login-config>
  <!-- ********************************************************************************************************************************* -->
<servlet>
		<servlet-name>FIS EverGreen</servlet-name>
		<servlet-class>com.olympus.webreport.Evergreen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS EverGreen</servlet-name>
		<url-pattern>/evergreen</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FIS Booking Report</servlet-name>
		<servlet-class>com.olympus.webreport.BookingReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Booking Report</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FIS  Snapshot Summary</servlet-name>
		<servlet-class>com.olympus.webreport.Snapshot</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS  Snapshot Summary</servlet-name>
		<url-pattern>/snapshot</url-pattern>
	</servlet-mapping>
	
<servlet>
		<servlet-name>FIS NBVA Data</servlet-name>
		<servlet-class>com.olympus.webreport.NBVAReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS NBVA Data</servlet-name>
		<url-pattern>/nbva</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS Salesforce Lead Query</servlet-name>
		<servlet-class>com.olympus.webreport.SFQuery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Salesforce Lead Query</servlet-name>
		<url-pattern>/sfquery</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FIS Salesforce Token</servlet-name>
		<servlet-class>com.olympus.webreport.GetAccessToken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Salesforce Token</servlet-name>
		<url-pattern>/gettoken</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FIS Salesforce getLead</servlet-name>
		<servlet-class>com.olympus.webreport.GetLeadByID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Salesforce getLead</servlet-name>
		<url-pattern>/getlead</url-pattern>
	</servlet-mapping>
	
 
	<servlet>
		<servlet-name>FIS LastShip</servlet-name>
		<servlet-class>com.olympus.webreport.LastShip</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS LastShip</servlet-name>
		<url-pattern>/lastship</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS GetCcanInfo</servlet-name>
		<servlet-class>com.olympus.webreport.GetCcanInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS GetCcanInfo</servlet-name>
		<url-pattern>/ccaninfo</url-pattern>
	</servlet-mapping>
 
	<servlet>
		<servlet-name>FIS Utilization</servlet-name>
		<servlet-class>com.olympus.webreport.Utilization</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Utilization</servlet-name>
		<url-pattern>/utilization</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>FIS Infolease Reports</servlet-name>
		<servlet-class>com.olympus.webreport.InfoLeaseReports</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Infolease Reports</servlet-name>
		<url-pattern>/ilreport</url-pattern>
	</servlet-mapping>
 
	<servlet>
		<servlet-name>FIS GetQuoteData</servlet-name>
		<servlet-class>com.olympus.webreport.GetQuoteData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS GetQuoteData</servlet-name>
		<url-pattern>/getquote</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>FIS Booking Report Excel</servlet-name>
		<servlet-class>com.olympus.webreport.BookingReportExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Booking Report Excel</servlet-name>
		<url-pattern>/bookexcel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS Write Excel Report</servlet-name>
		<servlet-class>com.olympus.webreport.ExcelReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Write Excel Report</servlet-name>
		<url-pattern>/excelreport</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS Write Excel Detail Report</servlet-name>
		<servlet-class>com.olympus.webreport.BookingSummaryDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS Write Excel Detail Report</servlet-name>
		<url-pattern>/exceldetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS GetBookingDetails</servlet-name>
		<servlet-class>com.olympus.webreport.GetBookingDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS GetBookingDetails</servlet-name>
		<url-pattern>/getdetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FIS GetChartData</servlet-name>
		<servlet-class>com.olympus.webreport.GetChartData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIS GetChartData</servlet-name>
		<url-pattern>/getchart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetSFDate</servlet-name>
		<servlet-class>com.olympus.webreport.GetFileDateSF</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSFDate</servlet-name>
		<url-pattern>/getsfdate</url-pattern>
	</servlet-mapping>

	
	
	
</web-app>